<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>Hospital_Management_System</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>com.admin.servlet.AdminLogin</servlet-name>
		<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>com.admin.servlet.AdminLogout</servlet-name>
		<servlet-class>com.admin.servlet.AdminLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogin</display-name>
		<servlet-name>com.user.servlet.UserLogin</servlet-name>
		<servlet-class>com.user.servlet.UserLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogout</display-name>
		<servlet-name>com.user.servlet.UserLogout</servlet-name>
		<servlet-class>com.user.servlet.UserLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddDoctor</display-name>
		<servlet-name>com.admin.servlet.AddDoctor</servlet-name>
		<servlet-class>com.admin.servlet.AddDoctor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateDoctor</display-name>
		<servlet-name>com.admin.servlet.UpdateDoctor</servlet-name>
		<servlet-class>com.admin.servlet.UpdateDoctor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteDoctor</display-name>
		<servlet-name>com.admin.servlet.DeleteDoctor</servlet-name>
		<servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DoctorLogin</display-name>
		<servlet-name>com.doctor.servlet.DoctorLogin</servlet-name>
		<servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DoctorLogout</display-name>
		<servlet-name>com.doctor.servlet.DoctorLogout</servlet-name>
		<servlet-class>com.doctor.servlet.DoctorLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AppointmentServlet</display-name>
		<servlet-name>com.user.servlet.AppointmentServlet</servlet-name>
		<servlet-class>com.user.servlet.AppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStatus</display-name>
		<servlet-name>com.doctor.servlet.UpdateStatus</servlet-name>
		<servlet-class>com.doctor.servlet.UpdateStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.admin.servlet.AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.admin.servlet.AdminLogout</servlet-name>
		<url-pattern>/AdminLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.user.servlet.UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.user.servlet.UserLogout</servlet-name>
		<url-pattern>/UserLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.admin.servlet.AddDoctor</servlet-name>
		<url-pattern>/AddDoctor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.admin.servlet.UpdateDoctor</servlet-name>
		<url-pattern>/UpdateDoctor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.admin.servlet.DeleteDoctor</servlet-name>
		<url-pattern>/DeleteDoctor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.doctor.servlet.DoctorLogin</servlet-name>
		<url-pattern>/DoctorLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.doctor.servlet.DoctorLogout</servlet-name>
		<url-pattern>/DoctorLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.user.servlet.AppointmentServlet</servlet-name>
		<url-pattern>/AppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.doctor.servlet.UpdateStatus</servlet-name>
		<url-pattern>/UpdateStatus</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
